.chat-message {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}

.chat-message > img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 38px;
}

.chat-ul { 
    list-style: none;
    padding-left: 10px;
}

.username {
    color: rgb(156, 156, 156);
}

.chat-box {
    background-color: #e9e9eb;
    padding: 12px;
    border-radius: 15px;
    margin-top: 10px;
    font-weight: bold;
    color: #000;
}

.align {
    display: flex;
    justify-content: flex-end;
}

.sent {
    background-color: #1185f7;
    color: #FFF;
    padding: 12px;
    border-radius: 15px;
    margin-right: 20px;
    margin-bottom: 15px;
}